.left_book {
	width: 564px;
}

.right_side_bar {
	width: 231px;
}

.right_side_bar > .payment > ul > li {
	list-style: inside;
	font-size: 14px;
	line-height: 26px;
	padding-left: 14px;
}

.right_side_bar > .payment > ul > li > a {
	pointer-events : none;
	margin-left: -10px;
}

.guest_login {
	background: #C20095 url(//image.goodchoice.kr/images/web_v3/bg_login_m.png);
	color: #fff;
}

.guest_login > a {
	line-height: 22px;
	font-size: 13px;
}

.info_chkin {
	color: rgba(0,0,0,0.56);
}

.usePointAmount-box {
	height: 40px;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 5px;
}

.useAllPoint-btn {
	border-left:1px dashed rgba(0,0,0,0.4);
}

#usepointAmount {
	outline: none;
}
#usepointAmount::placeholder {
	--tw-text-opacity: 1;
	color: rgba(16, 185, 129, var(--tw-text-opacity));
}

#pointDelete-btn {
	display: none;
}