/* 폰트 */
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

html> body {
	font-family: 'S-CoreDream-3Light';
}

/* ----커스텀---- */

/* 공통 */

.table-box-type-1 > table th,
.table-box-type-1 > table td {
	border: 1px solid black;
	padding: 10px;
}

.table-box-type-2 > table th,
.table-box-type-2 > table td {
	border: 1px solid #c9c8c5;
	padding: 15px;
	padding-left: 20px;
}

.table-box-type-2 > table tr:first-child th,
.table-box-type-2 > table tr:first-child td {
	border-top: 1px solid #525151;
}

.table-box-type-2 > table tr:last-child th,
.table-box-type-2 > table tr:last-child td {
	border-bottom: 1px solid #525151;
}

.table-box-type-2 > table th,
.table-box-type-2 > table td {
	border-left: 0px solid black;
	border-right: 0px solid black;
}

.table-box-type-2 > table th {
	text-align: left;
	background-color: #ebe9e6;
}

.con-1 {
	max-width: 950px;
}

.con-2 {
	max-width: 900px;
}

.con-3 {
	max-width: 930px;
}

.con-min-width {
	min-width: 400px;
}

.product-link-box {
	height: 200px;
}

.product-link-box > div > ul > li{
	width: 25%;
}

.img-box-1 > img {
	max-width: 100%;
	height: auto;
}

.bgc-303640 {
	background-color: #303640;
}

.bgc-1F293733 {
	background-color: #1F293733;
}

.side-bar-1 {
	width: 230px;
	height: 430px;
}

.side-bar-d1, .side-bar-d2 {
	width: 300px;
	height: auto;
}

.side-bar-myPage {
	width: 180px;
}

.side-bar-myPage > div > ul {
	padding: 10px 0;
}

.company-list {
	width: 650px;
}

.company-contents-wrapper {
	height: auto;
	border-bottom-width: 1px;
}

.company-image {
	width: 250px;
	height: 200px;
}

.btn-group > button {
	width: 25%;
}

.orderby-btn-active {
	color: #570DF8;
}

.company-info-wrapper {
	padding-left: 10px;
	padding-top: 5px;
	width: 375px;
	position: relative;
}

.won {
	padding-left: 1px;
	padding-bottom: 1px;
}

.company-info-price {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 5px;
}

* > .border-gray {
	border: 1px solid rgba(0,0,0,0.08);
}

* > .border-bt-gray {
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

/* 스크롤바 */
/*//Chrome, Safari용 스크롤 바*/
::-webkit-scrollbar {width: 10px;height: 6px;}
::-webkit-scrollbar-track {background: #e1e1e1;}
::-webkit-scrollbar-thumb {background: #222;border-radius: 10px;border:1px #fff solid;opacity: .5;}
::-webkit-scrollbar-thumb:hover {background: #999;opacity: 1;}
::-webkit-scrollbar-track-piece {background: #fff;}
/* 스크롤바 */
