#logo {
	max-width: 150px;
	overflow: hidden;
}

#logo > img {
	max-width: initial;
	margin-left: -40%;
	height: 180px;
}

header {
	position: fixed;
	width: 100%;
	background-color: white;
	box-shadow: 0 2px 10px #c4c4c4;
}