.back-ground-page {
	background-color: #f0f0f0;	
}

.list-page {
	padding-top: 20px;
/* 	background-color: #b8e6f2; */
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	width: 850px;
}

.list-top {
	background-color: white;
	width: 100%;
}

.list-top > div {
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding: 20px;
}

.list-top > div > span {
	width: 100%;
	border-left: 1px solid #cfcfcf
}

.list-top > div > span:first-child {
	border-left: none;
}

.list-body {
	display: flex;
	margin-top: 20px;
}

.list-side-bar {
	padding: 20px;
	margin-right: 20px;
	background-color: white;
	height: 0%;
}

.company-list-item {
	display: flex;
	margin: 20px 0;
	background-color: white;
	padding: 15px;
}

.list-company-list-top {
	display: flex;
	align-items: flex-end;
	margin-bottom: -12px;
	
}

.list-company-list {
	width: 100%;
}

.company-list-searchCount {
	font-size: 12px;
}

.company-list-orderby {
	display: flex;
	justify-content: flex-end;
}

.company-list-orderby > button {
	display: flex;
	margin-left: 8px;
	font-size: 12px;
	font-weight: 600;
	color: #a8a8a8
}

.company-list-orderby > button > span {
	margin-left: 5px;
}

.company-list-orderby > .orderby-btn-active > div {
	color: #570DF8;
}

.company-list-orderby > .orderby-btn-active > span {
	color: black;
}

.company-list-item > .img-box {
	width: 300px;
	height: 200px;
}

.company-list-item > .img-box > img {
	border-radius: 5px;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.company-list-item > .item-info {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 10px;
}

.company-list-item > .item-info > .score {
	display: flex;
	align-items: center;
}

.company-list-item > .item-info > .score > span {
	color: #fcc40a;
	font-size: 15px;
	margin-right: 2px;
}

.item-info-price {
	display: flex;
	justify-content: flex-end;
	align-items: end;
}

